.home_main {
  width: 100%;
}

.home_imgSlides {
  width: 100%;
  height: calc(100vh - 0px);
  padding: 0px;
  display: block;
}

.home_imgSlides .carousel {
  transform: translateY(-30px);
}

.home_imgSlides .slide {
  width: 100%;
  height: calc(100vh - 0px);
}

.home_imgSlides .slide div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.home_features {
  padding: 25px 0px;
  transform: translateY(-100px);
  height: 300px;
}

.home_feature_box {
  min-width: 175px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 2px;
  border: solid 1px #bbbbbb;
  /* box-shadow: 1px 1px 5px 0px #cacaca; */
  padding: 25px 15px;
  cursor: pointer;
  margin-bottom: 25px;
  transition-duration: 0.3S;
}

.home_feature_box:hover
{
  box-shadow: 1px 1px 10px 1px #b6b6b6;
  
}

.home_feature_box:hover .iconImage
{
  transform: scale(1.1)
}

.home_feature_box:hover .iconImage I
{
  
}

.home_feature_box .iconImage {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 2px #000000;;
  margin-bottom: 25px;
  transition-duration: 0.3s;
}

.home_feature_box .iconImage i {
  font-size: 40px;
  margin-top: 16px;
  transition-duration: 0.3s;
}

.home_promotion
{
  height: 350px;
  margin-bottom: 100px;
  padding: 0px;
}

.home_promotion .pBanner
{
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  
  border: solid 1px #cccccc;
}

@media (max-width: 992px) {
  .home_imgSlides {
    height: 450px;
  }

  .home_imgSlides .slide {
    height: 450px;
  }

  .home_features {
    transform: translateY(0);
  }
}
